/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
  --font-base: 'Inter', sans-serif;
  --font-heading: "Special Gothic Expanded One", sans-serif;
  --color-bg: #313235;
  --color-bg-nav: #919191;
  --color-text: #e5e8eb;
  --color-accent: #1c5670;
  --color-button-hover: #144554;

  --color-gs: #ccc;
  --color-bl: #f4f4f4;
  --color-ng: #3F3F3F;
  --color-vio-1: #750C70;
  --color-vio-2: #DD54DD;
  --color-turq-1: #70C1C1;
}

html {
  font-family: var(--font-base);
  background-color: var(--color-gs);
  color: var(--color-text);
  scroll-behavior: smooth;
}

body,
main {
  margin: 5.5rem 0rem 0rem;
}

  h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-base);
    margin-top: 0;
    line-height: 1.6;
    color: var(--color-ng);
}

button {
  font-family: var(--font-base);
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  color: var(--color-text);
  cursor: pointer;
}

a {
  color: var(--color-vio-2);
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem
}

@media (hover:hover) {
  button:hover {
    background-color: var(--color-button-hover);
  }
}