/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root {
  --font-base: 'Inter', sans-serif;
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
  --color-accent: #38bdf8;
}

html {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
}

/* body {
  margin: 0rem 3rem;
  padding: 1rem;
  } */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-base);
    margin-top: 0;
    line-height: 1.6;
}