---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Página No Encontrada">
    <section class="not-found">
        <h1>404 - Página No Encontrada</h1>
        <p>Lo sentimos, la página que buscas no existe.</p>
        <button onclick="location.href='/'">Volver al Inicio</button>
    </section>
    <Footer />
</Layout>

<style>
    .not-found {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .not-found h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .not-found p {
        font-size: 1rem;
        margin: .5rem 2rem;
    }

    .not-found button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        background-color: var(--color-accent);
        color: var(--color-text);
        cursor: pointer;
    }

    .not-found button:hover {
        background-color: var(--color-button-hover);
    }
</style>