---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Proyectos | Nahuel Beck">
    <h1>Estos son algunos de mis proyectos destacados</h1>
    <p>Aquí encontrarás una selección de proyectos en los que he trabajado, demostrando mis habilidades y experiencia en desarrollo web.</p>
</MainLayout>