---
---
<footer>
    <section>
        <div class="marca">
            <img src="/src/assets/img/logo.svg" alt="Logo Nahuel Beck" />
        </div>
        <div class="info-footer">
            <p>© 2024 Nahuel Beck. Todos los derechos reservados.</p>
            <p>Diseñado y desarrollado por Nahuel Beck.</p>
        </div>
    </section>
    <section>
        <div class="redes">
            <ul>
                <li><a href="https://www.linkedin.com/in/nahuel-beck/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
    </section>
    <section>
        <p>Algún textito lindo</p>
    </section>
</footer>

<style>
    footer {
        display: flex;
        gap: auto;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;
        background-color: #ccc;
        text-align: start;
    }
</style>