---
import global from '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href={global} />
        <title>Presentación</title>
    </head>
    <section class="presentation">
        <h1>Nahuel Beck</h1>
        <p>Diseño para el universo impreso y digital.</p>
    </section>
</html>

<style>
    h1 {
        font-weight: 100;
    }
    
    p {
        font-weight: 300;
    }
    
    .presentation {
        padding: 3rem;
        margin: 0rem 3rem;
        height: 80vh;
    }
</style>