---
import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Presentación</title>
    </head>
    <section class="presentation">
        <h1>Nahuel Beck</h1>
        <p>Diseño para el universo impreso y digital.</p>
    </section>
</html>

<style>
    section {
        text-align: center;
    }
    
    h1 {
        font-weight: 100;
    }
    
    p {
        font-weight: 300;
    }
    
    .presentation {
        padding: 3rem;
        margin: 0rem 3rem;
        height: 80vh;
    }
</style>

<script>
// import { animate, splitText, stagger } from 'animejs';

// splitText('p', {
//     lines: { wrap: 'clip' },
//     })
//     .addEffect(({ lines }) => animate(lines, {
//     y: [
//         { to: ['100%', '0%'] },
//         { to: '-100%', delay: 750, ease: 'in(3)' }
//     ],
//     duration: 750,
//     ease: 'out(3)',
//     delay: stagger(200),
//     loop: true,
//     loopDelay: 500,
// }));
</script>