---
import '../styles/global.css';
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Presentación</title>
    </head>
    <section class="presentation">
        <h1>Nahuel Beck</h1>
        <p>Diseño para el universo impreso y digital.</p>
    </section>
</html>

<style>
    h1 {
        font-weight: 100;
    }
    
    p {
        font-weight: 300;
    }
    
    .presentation {
        padding: 3rem;
        margin: 0rem 3rem;
        height: 80vh;
    }
</style>

<script>
import { animate, splitText, stagger } from 'animejs';

const { chars } = splitText('p', {
    chars: { wrap: 'clip' },
});

animate(chars, {
    y: [
        { to: ['100%', '0%'] },
        // { to: '-100%', delay: 1750, ease: 'in(3)' }
    ],
    duration: 250,
    ease: 'out(5)',
    delay: stagger(50),
    // loop: true,
});
</script>