---
import CardProject from './CardProject.astro';
---
<section class="cards">
    <h3>Proyectos en los que estoy involucrado</h3>
    <CardProject />
</section>

<style>
    section.cards {
        padding: 3rem 0rem;
    }
    section.cards h3 {
        font-weight: 200;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
</style>