---
import CardProject from './CardProject.astro';
---
<section class="cards">
    <!-- <CardProject 
    image="/src/assets/img/cards-bg.jpg" 
    title="Tarjeta 1" 
    description="Este sería otra descripción de proyecto." 
    link="https://contenidx.com.ar"
    /> -->
    <CardProject />
</section>

<style>
    section.cards {
        padding: 3rem 0rem;
    }
</style>